@import url(https://fonts.googleapis.com/css?family=Oswald:400, 300, 700);

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(data:image/gif;base64,R0lGODlhCAAFAKEBAO3t7f///////////yH5BAEKAAIALAAAAAAIAAUAAAIKRI5nuRv+YpKhAAA7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

nav .event-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.Footer {
  font-size: smaller;
  color: gray;
  border-top: 1px solid #999999;
  margin-top: 5em;
  padding-top: 1em;
  text-align: center;
}
.Footer a {
  color: #555555;
}
