<a
  href="{{ picture_url }}"
  target="_blank"
  style="float:right; margin-left:1em; margin-bottom:1em"
>
  <img src="{{ picture_thumb_url }}" />
</a>

<dl>
  <dt style="font-weight:bold; margin-top:1em">Nom :</dt>
  <dd>{{ obj.profile.full_name }}</dd>

  <dt style="font-weight:bold; margin-top:1em">Email :</dt>
  <dd>{{ obj.user.email }}</dd>

  <dt style="font-weight:bold; margin-top:1em">Raisons de participer :</dt>
  <dd style="white-space:pre-line">{{ obj.profile.introduction }}</dd>

  <dt style="font-weight:bold; margin-top:1em">A connu le Kinky Salon par :</dt>
  <dd style="white-space:pre-line">{{ obj.profile.learned_about }}</dd>

  {% if obj.profile.low_income %}
  <dt style="font-weight:bold; margin-top:1em">Tarif solidaire :</dt>
  <dd>Oui</dd>
  {% endif %}
</dl>
