{% load static %} {% load kspals %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'kspals/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'kspals/favicon-16x16.png' %}"
    />
    <link rel="shortcut icon" href="{% static 'kspals/favicon.ico' %}" />

    <title>Participant⋅e⋅s au Kinky Salon {{ event.name }}</title>
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <h1 class="text-center">Participant⋅e⋅s au {{ event.name }}</h1>
      <div class="row">
        {% for participant in participants %}
        <div class="col-md-6 col-xl-4">
          <div
            id="p-{{ participant.id }}"
            class="border rounded p-2 mb-4 bg-white
                    {% if participant.is_in_valid_pal_group %}
                        {% if participant.has_ticket %}
                            border-success
                        {% else %}
                            border-primary
                        {% endif %}
                    {% else %}
                        border-warning
                    {% endif %}
                    "
          >
            {% participant participant %}

            <p class="clearfix mb-0">
              <strong>État de l'inscription :</strong>
            </p>
            <ul>
              <li>
                PALs cohérents :
                {{ participant.is_in_mutual_pal_group | yesno }}
              </li>
              <li>Ticket acheté : {{ participant.has_ticket | yesno }}</li>
              {% if participant.role.code != "participant" %}
              <li>Role : {{ participant.role.name }}</li>
              {% endif %}
              <li>
                Date d'inscription :
                {{ participant.profile.date_registered | date: "d b H:i" }}
              </li>
            </ul>
            <p class="clearfix mb-0"><strong>PAL(s) :</strong></p>
            <ul>
              {% for pal in participant.pals.all %}
              <li>
                {% if pal.has_profile %}
                <a href="#p-{{ pal.id }}">
                  {{ pal.profile.first_name }} {{ pal.profile.last_name }}
                </a>
                ({{ pal.user.email }}) {% else %}
                <a href="#p-{{ pal.id }}">{{ pal.user.email }}</a>
                {% endif %}
              </li>
              {% empty %}
              <li><span class="text-danger">Pas de PAL !</span></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
