<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Votre code de connexion pour le Kinky Salon</title>
</head>
<body>
    <p>
      Utilisez ce code pour vous connecter : {{ callback_token }}
    </p>
</body>
</html>
