{% load kspals %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nouvelle pré-inscription pour le Kinky Salon</title>
  </head>
  <body>
    <p>Chèr⋅es organisateurices du Kinky Salon {{ participant.event.name }},</p>

    <p>
      Une nouvelle pré-inscription vient d'avoir lieu !
    </p>

    {% participant participant %}

    <p style="clear:both">
      Connectez-vous à
      <a href="{{ participant_url }}">l'interface d'administration</a> pour
      l'approuver.
    </p>

    <p>
      Merci de participer à l'organisation du Kinky Salon !
    </p>

    <p>
      <em>Votre amicale appli de gestion des PALs</em>
    </p>
  </body>
</html>
